<h1>Here are all of our Disc Jockeys!</h1>

<a href="<%= new_user_url %>">Create New User</a>

<ul>

    <% @users.each do |user| %>
        <%= render "user", user: user, action: :index %>
        <br>
    <% end %>
    
</ul>























































































































































































































































































































































































































































































































































































































































































































































































































































































































































































